<div>
    &nbsp;
</div>

<div>
    <h1> Objective </h1>
    <p> It doesn't matter whether you are a busy individual who wishes more time to cook for your favorite meal, or you
        are a non-talented chef who simply cannot juggle between pots and pans. You've arrived at the right place!
        Our goal is to bring you high-quality food that require the minimum time and effort. By browsing through this website,
        you will discover easy food making recipes that could spice up your everyday life. Integrated with our upcoming smart
        grocery tools, you will be able to save tons of money and enjoy a healthy life!
    </p>

    <h1> Motive </h1>
    <h6> <i>"There are tons of recipe websites out there, why are you still doing this?"</i> </h6>
    <p>
        Our motive is simple: we want to make cooking <b>easy</b> for everyone. Cooking can be <b>DIFFICULT</b>. Blah blah blah...
        This is why our focus is an easy recipe/cooking application. On average, our recipes do not take longer than 20 minutes,
        for the entire process from preparing ingredients to finished meal, given the same <u>quality</u>. Blah blah blah...
        On a footer note, our application is completely free for access and register!
    </p>

    <h1> Technology </h1>
    <p>
        Our algorithm efficiently evaluates data form the back-end. Recipe rankings is based on a variety factors including view counts,
        click frequency, and user inputs.
    </p>

    <h1> Value </h1>
    <p>
        We value user experience on top of everything else. After all, we want you to be completely <b>satisfied</b>. User satisfaction
        is a direct measure to our success.
    </p>


</div>